venv/
env/

.env

db.sqlite3
*.db
*.sqlite3

__pycache__/
*.pyc
media/

*.json

/generated/prisma
.agents/
.claude/
.windsurf/
.vscode/
.idea/

*.iml
*.ipr
*.iws
.idea/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
